*.iml
/local.properties
/.idea/
**/build/
*.apk
*.aab
*.aar
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar
*.jks
*.keystore
release-keystore.jks
**/.DS_Store
.externalNativeBuild/
.cxx/
/captures/
*.hprof
*.kotlin_module
Thumbs.db
Desktop.ini
*.orig
